@import "tailwindcss";
@import "@fontsource/inter/400.css"; /* regular */
@import "@fontsource/inter/500.css"; /* medium */
@import "@fontsource/syne/500.css"; /* medium headings */
@import "@fontsource/syne/600.css"; /* semibold headings */
@import "@fontsource/syne/700.css"; /* bold headings */

:root {
  --font-body: "inter", sans-serif;
  --font-heading: "syne", sans-serif;
  --color-gradient: linear-gradient(
    90deg,
    #ff4d6d 0%,
    #bd3eb2 25%,
    #7b2ff7 50%,
    #2f86f7 75%,
    #2ff7ed 100%
  );
}

@layer base {
  body {
    @apply bg-black text-white text-xl overflow-x-clip;
    font-family: var(--font-body);
  }

  h3 {
    @apply font-medium uppercase text-2xl;
    font-family: var(--font-heading);
  }
}

@layer components {
  .main-container {
    @apply max-w-[1600px] w-full m-auto px-4 lg:px-12;
  }
  nav {
    @apply py-6;
  }
}
